In [1]:
import pandas as pd

In [2]:
car=pd.read_csv(r"car_dataset.csv")

In [3]:
car.head(2)

,make,model,type,origin,drivetrain,msrp,invoice,engine size,cylinders,horsepower,MPG_City,MPG_highway,weight,wheelbase,length
0,Hyundai,Camry,Sedan,South Korea,FWD,27500,25500,2.0,4,280,20,29,4250,100.0,190.0
1,BMW,Sonata,Truck,Italy,FWD,50500,40000,4.0,4,230,31,16,3400,105.0,190.0

In [4]:
car.shape

(100, 15)

<h2 style="color:#FF69B4">FINDING THE  NULL VALUE. 
    <br>
    IF ANY NULL VALUE EXISTS, THEN FILL IT WITH MEAN OF THAT COLUMN</h2>

<h4>BY USING isnull()</h4>

In [6]:
car.isnull().sum()

make           0
model          0
type           0
origin         0
drivetrain     0
msrp           0
invoice        0
engine size    0
cylinders      0
horsepower     0
MPG_City       0
MPG_highway    0
weight         0
wheelbase      0
length         0
dtype: int64

In [ ]:
#There are no null values. Say, there were 2 null values in 'cylinders' column. This is how we would remove it:
car['cylinders'].fillna(car['cylinders'].mean(),inplace= True)

<h2 style="color:#FF69B4">FIND THE DIFFERENT TYPES OF 'MAKE' IN OUR DATASET
<BR>
WHAT IS THE COUNT OF EACH 'MAKE?'</h2>

In [7]:
car.head(2)

,make,model,type,origin,drivetrain,msrp,invoice,engine size,cylinders,horsepower,MPG_City,MPG_highway,weight,wheelbase,length
0,Hyundai,Camry,Sedan,South Korea,FWD,27500,25500,2.0,4,280,20,29,4250,100.0,190.0
1,BMW,Sonata,Truck,Italy,FWD,50500,40000,4.0,4,230,31,16,3400,105.0,190.0

In [8]:
car['make'].value_counts()

make
Nissan        13
Volkswagen    12
Audi          12
Honda         11
Mercedes      11
Ford          10
BMW            9
Chevrolet      9
Hyundai        7
Toyota         6
Name: count, dtype: int64

<h2 style="color:#FF69B4">SHOW ALL THE RECORDS WHERE ORIGIN IS 'Italy' OR 'India'</h2>

In [9]:
car.head(3)

,make,model,type,origin,drivetrain,msrp,invoice,engine size,cylinders,horsepower,MPG_City,MPG_highway,weight,wheelbase,length
0,Hyundai,Camry,Sedan,South Korea,FWD,27500,25500,2.0,4,280,20,29,4250,100.0,190.0
1,BMW,Sonata,Truck,Italy,FWD,50500,40000,4.0,4,230,31,16,3400,105.0,190.0
2,Hyundai,3 Series,SUV,Italy,FWD,30000,28000,3.0,6,390,15,33,2500,115.0,170.0

<h4 style="color:purple">BY USING isin() </h4>

In [11]:
car[car['origin'].isin(['Italy','India'])]

,make,model,type,origin,drivetrain,msrp,invoice,engine size,cylinders,horsepower,MPG_City,MPG_highway,weight,wheelbase,length
1,BMW,Sonata,Truck,Italy,FWD,50500,40000,4.0,4,230,31,16,3400,105.0,190.0
2,Hyundai,3 Series,SUV,Italy,FWD,30000,28000,3.0,6,390,15,33,2500,115.0,170.0
3,Honda,A4,Truck,Italy,AWD,43500,26500,4.0,8,350,31,23,4850,100.0,180.0
5,Volkswagen,Camry,Truck,Italy,RWD,55000,39500,4.0,4,460,15,16,4800,95.0,190.0
10,BMW,3 Series,Sedan,Italy,AWD,23000,36500,2.5,4,460,36,44,4350,100.0,170.0
13,Hyundai,Civic,Coupe,Italy,RWD,46500,21000,3.0,4,370,16,24,4550,100.0,190.0
14,Audi,Mustang,Sedan,Italy,FWD,56000,44500,3.5,6,400,12,33,3300,100.0,180.0
15,Volkswagen,A4,Sedan,Italy,FWD,33500,36000,5.0,4,230,15,24,3300,105.0,200.0
16,Nissan,Impala,Truck,Italy,RWD,32500,53500,2.5,4,150,29,39,4250,105.0,190.0
17,Audi,Sonata,Wagon,Italy,AWD,39000,24500,2.5,6,350,23,25,4150,95.0,200.0
19,BMW,Altima,SUV,Italy,AWD,57000,47000,4.0,8,400,29,20,3000,115.0,190.0
20,Honda,A4,SUV,Italy,RWD,36500,39500,4.0,4,480,39,24,3100,110.0,210.0
23,Hyundai,Golf,Coupe,Italy,AWD,24500,43000,2.5,8,100,26,17,2600,110.0,170.0
25,Nissan,Altima,Coupe,Italy,AWD,32000,43000,3.0,4,190,21,35,2950,110.0,200.0
26,Ford,Mustang,SUV,Italy,FWD,57500,45500,3.5,6,490,34,35,3950,115.0,210.0
27,Ford,Golf,SUV,Italy,RWD,50500,39000,3.0,6,200,18,34,3900,105.0,170.0
35,Volkswagen,Impala,Truck,Italy,RWD,40000,34500,2.5,8,120,30,45,4800,110.0,200.0
39,Chevrolet,Accord,SUV,Italy,RWD,27500,44000,5.0,6,360,15,40,3400,115.0,180.0
42,Nissan,3 Series,SUV,Italy,RWD,44500,53500,2.5,4,110,34,36,4300,95.0,180.0
44,Nissan,Sonata,Wagon,Italy,FWD,30000,56000,5.0,6,150,14,23,4750,115.0,170.0
45,Ford,Sonata,Truck,Italy,AWD,47000,40000,2.5,6,410,22,36,4900,115.0,170.0
46,Volkswagen,Camry,Truck,Italy,AWD,35000,46500,4.0,8,310,17,24,3650,105.0,180.0
47,Mercedes,Mustang,Truck,Italy,FWD,48500,34000,4.0,6,340,23,24,4900,105.0,200.0
52,Audi,Civic,Truck,Italy,FWD,55000,43000,1.5,4,370,38,44,2650,95.0,190.0
59,Audi,Altima,Coupe,Italy,FWD,57000,49000,4.0,8,490,27,21,2850,95.0,190.0
60,Chevrolet,Camry,Coupe,Italy,AWD,36000,18500,4.0,8,290,23,43,4450,115.0,170.0
65,Audi,Camry,Wagon,Italy,RWD,31500,32000,2.5,4,120,33,25,2900,100.0,170.0
66,Mercedes,Altima,Truck,Italy,AWD,37000,18500,3.5,8,140,36,20,4650,110.0,170.0
72,Mercedes,Accord,Wagon,Italy,FWD,47500,36000,2.0,6,280,11,23,3100,105.0,190.0
74,BMW,3 Series,Wagon,Italy,FWD,33500,20000,2.0,4,350,31,16,4650,105.0,210.0
81,Nissan,Camry,SUV,Italy,FWD,29500,45000,2.5,6,350,12,29,4200,110.0,210.0
86,Honda,Golf,Truck,Italy,RWD,51000,53000,3.5,6,260,19,32,3100,105.0,190.0
93,Mercedes,Golf,Wagon,Italy,RWD,26000,50000,2.5,4,270,16,45,3350,115.0,170.0

<h2 style="color:#FF69B4">REMOVE ALL THE RECORDS WHERE WEIGHT IS ABOVE 4000</h2>

In [12]:
car.head(3)

,make,model,type,origin,drivetrain,msrp,invoice,engine size,cylinders,horsepower,MPG_City,MPG_highway,weight,wheelbase,length
0,Hyundai,Camry,Sedan,South Korea,FWD,27500,25500,2.0,4,280,20,29,4250,100.0,190.0
1,BMW,Sonata,Truck,Italy,FWD,50500,40000,4.0,4,230,31,16,3400,105.0,190.0
2,Hyundai,3 Series,SUV,Italy,FWD,30000,28000,3.0,6,390,15,33,2500,115.0,170.0

In [17]:
#shows all the records where weight is more than 4000
# car[car['weight'] >4000]
# Removes all the records where weight is more than 4000
car[~(car['weight'] >4000)]

,make,model,type,origin,drivetrain,msrp,invoice,engine size,cylinders,horsepower,MPG_City,MPG_highway,weight,wheelbase,length
1,BMW,Sonata,Truck,Italy,FWD,50500,40000,4.0,4,230,31,16,3400,105.0,190.0
2,Hyundai,3 Series,SUV,Italy,FWD,30000,28000,3.0,6,390,15,33,2500,115.0,170.0
4,Nissan,Golf,SUV,Germany,RWD,30500,29500,2.0,8,270,13,40,3300,115.0,180.0
7,Ford,Mustang,Sedan,South Korea,AWD,48000,46500,2.0,6,200,30,35,3750,95.0,190.0
11,Honda,3 Series,Truck,Japan,RWD,33000,20500,5.0,4,370,29,39,3950,105.0,190.0
12,Nissan,Civic,Coupe,USA,FWD,20500,20000,4.0,6,120,30,20,2750,105.0,200.0
14,Audi,Mustang,Sedan,Italy,FWD,56000,44500,3.5,6,400,12,33,3300,100.0,180.0
15,Volkswagen,A4,Sedan,Italy,FWD,33500,36000,5.0,4,230,15,24,3300,105.0,200.0
19,BMW,Altima,SUV,Italy,AWD,57000,47000,4.0,8,400,29,20,3000,115.0,190.0
20,Honda,A4,SUV,Italy,RWD,36500,39500,4.0,4,480,39,24,3100,110.0,210.0
21,Mercedes,Civic,Coupe,Germany,AWD,21000,45500,3.0,4,440,10,17,3700,100.0,200.0
22,Mercedes,Civic,Wagon,Japan,AWD,26000,29500,3.5,6,480,33,35,3100,115.0,170.0
23,Hyundai,Golf,Coupe,Italy,AWD,24500,43000,2.5,8,100,26,17,2600,110.0,170.0
24,Nissan,Altima,Coupe,South Korea,FWD,54500,28000,3.0,6,190,18,25,2950,115.0,210.0
25,Nissan,Altima,Coupe,Italy,AWD,32000,43000,3.0,4,190,21,35,2950,110.0,200.0
26,Ford,Mustang,SUV,Italy,FWD,57500,45500,3.5,6,490,34,35,3950,115.0,210.0
27,Ford,Golf,SUV,Italy,RWD,50500,39000,3.0,6,200,18,34,3900,105.0,170.0
31,Nissan,Accord,Coupe,South Korea,AWD,36000,23500,3.0,4,300,17,37,3500,100.0,200.0
32,Volkswagen,3 Series,SUV,Japan,RWD,53000,31000,4.0,8,320,30,47,3350,115.0,170.0
33,Audi,Impala,Wagon,South Korea,RWD,26500,54000,4.0,8,470,23,47,2950,100.0,210.0
34,Volkswagen,Mustang,Coupe,USA,AWD,30500,29500,2.5,8,210,17,34,3350,100.0,190.0
36,Volkswagen,Altima,Wagon,USA,FWD,20000,25000,4.0,6,240,37,17,3000,105.0,170.0
39,Chevrolet,Accord,SUV,Italy,RWD,27500,44000,5.0,6,360,15,40,3400,115.0,180.0
40,Volkswagen,Impala,SUV,Japan,RWD,54000,33500,2.0,4,370,31,18,3800,110.0,170.0
43,Audi,Camry,SUV,USA,AWD,51000,26500,2.5,4,380,28,26,4000,95.0,170.0
46,Volkswagen,Camry,Truck,Italy,AWD,35000,46500,4.0,8,310,17,24,3650,105.0,180.0
49,Honda,Golf,Sedan,South Korea,FWD,25000,29000,1.5,8,410,13,18,3300,105.0,190.0
50,BMW,Impala,SUV,Germany,AWD,20000,18000,2.0,8,310,31,28,3250,115.0,210.0
51,Audi,Sonata,SUV,Japan,AWD,35000,43500,1.5,4,360,39,21,2950,100.0,210.0
52,Audi,Civic,Truck,Italy,FWD,55000,43000,1.5,4,370,38,44,2650,95.0,190.0
54,Volkswagen,Accord,Sedan,South Korea,AWD,54500,31500,1.5,4,390,32,18,3250,110.0,200.0
55,BMW,A4,Truck,Japan,FWD,33000,43500,4.0,4,100,15,23,2900,110.0,170.0
57,Audi,Civic,Truck,Germany,RWD,32500,26500,3.5,6,430,36,29,2550,95.0,190.0
58,Toyota,Altima,Truck,USA,RWD,33000,34500,5.0,6,410,10,20,3400,110.0,200.0
59,Audi,Altima,Coupe,Italy,FWD,57000,49000,4.0,8,490,27,21,2850,95.0,190.0
62,Ford,Impala,Coupe,Japan,FWD,24000,18500,2.5,4,310,15,45,2650,95.0,170.0
63,Honda,A4,Wagon,Germany,FWD,52000,48500,5.0,6,420,14,39,3000,95.0,190.0
64,Chevrolet,Altima,Wagon,South Korea,FWD,58000,47000,1.5,6,400,19,46,3100,115.0,170.0
65,Audi,Camry,Wagon,Italy,RWD,31500,32000,2.5,4,120,33,25,2900,100.0,170.0
68,Ford,Civic,Sedan,South Korea,RWD,21500,33000,5.0,8,170,31,41,4000,100.0,170.0
69,Honda,Altima,Sedan,South Korea,AWD,39000,46000,2.0,4,380,16,26,3950,105.0,190.0
70,Ford,Camry,Wagon,South Korea,RWD,33500,51500,1.5,4,350,19,45,2700,105.0,200.0
71,Audi,3 Series,Coupe,Japan,AWD,36000,54500,5.0,6,180,37,21,2600,100.0,180.0
72,Mercedes,Accord,Wagon,Italy,FWD,47500,36000,2.0,6,280,11,23,3100,105.0,190.0
76,Chevrolet,Accord,Truck,South Korea,AWD,58500,38000,3.5,4,100,35,29,2850,110.0,190.0
77,Ford,Altima,Sedan,Germany,AWD,26000,55500,1.5,4,190,35,17,2850,100.0,180.0
78,Chevrolet,3 Series,Sedan,USA,FWD,59500,42000,3.5,4,110,19,20,3450,105.0,190.0
79,Audi,Civic,Wagon,Japan,AWD,50000,39500,1.5,4,270,36,21,3800,95.0,170.0
82,Honda,Altima,SUV,USA,AWD,21000,38500,2.5,4,380,16,29,2950,100.0,210.0
84,Toyota,Altima,SUV,South Korea,AWD,35000,27500,1.5,6,170,31,33,2750,100.0,210.0
85,Chevrolet,Mustang,Sedan,USA,FWD,24000,51500,4.0,4,210,34,20,2700,115.0,190.0
86,Honda,Golf,Truck,Italy,RWD,51000,53000,3.5,6,260,19,32,3100,105.0,190.0
87,Chevrolet,3 Series,SUV,Japan,FWD,37500,56500,1.5,6,190,11,46,2550,115.0,200.0
88,Volkswagen,Camry,Truck,Japan,RWD,31500,37500,1.5,6,100,23,45,3300,95.0,170.0
89,BMW,Impala,Truck,Germany,AWD,55000,40000,3.0,8,250,31,39,2950,110.0,180.0
90,Nissan,Sonata,Coupe,South Korea,RWD,55500,51500,5.0,4,460,33,49,2700,100.0,170.0
91,Ford,Altima,Wagon,South Korea,AWD,28000,31000,3.0,6,390,33,17,3100,100.0,200.0
93,Mercedes,Golf,Wagon,Italy,RWD,26000,50000,2.5,4,270,16,45,3350,115.0,170.0
97,Hyundai,Golf,Coupe,South Korea,AWD,30000,44500,1.5,8,450,33,33,3950,115.0,200.0
99,Volkswagen,A4,Sedan,Germany,FWD,55000,20500,3.5,4,480,33,17,3350,115.0,170.0

<h2 style="color:#FF69B4">Increase all the values of 	'MPG_City' by 3</h2>

In [18]:
car.head(3)

,make,model,type,origin,drivetrain,msrp,invoice,engine size,cylinders,horsepower,MPG_City,MPG_highway,weight,wheelbase,length
0,Hyundai,Camry,Sedan,South Korea,FWD,27500,25500,2.0,4,280,20,29,4250,100.0,190.0
1,BMW,Sonata,Truck,Italy,FWD,50500,40000,4.0,4,230,31,16,3400,105.0,190.0
2,Hyundai,3 Series,SUV,Italy,FWD,30000,28000,3.0,6,390,15,33,2500,115.0,170.0

<h4 style="color:purple">Using lambda function</h4>

In [21]:
car['MPG_City']=car['MPG_City'].apply(lambda x:x+3)

In [22]:
car.head(3)

,make,model,type,origin,drivetrain,msrp,invoice,engine size,cylinders,horsepower,MPG_City,MPG_highway,weight,wheelbase,length
0,Hyundai,Camry,Sedan,South Korea,FWD,27500,25500,2.0,4,280,23,29,4250,100.0,190.0
1,BMW,Sonata,Truck,Italy,FWD,50500,40000,4.0,4,230,34,16,3400,105.0,190.0
2,Hyundai,3 Series,SUV,Italy,FWD,30000,28000,3.0,6,390,18,33,2500,115.0,170.0